doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="/styles/landing.css")
    title Viewerwide
    body
      video(autoplay, loop, muted)
        source(src="videos/vid.mp4", type="video/mp4")
        Your browser does not support the video tag.
      div(id="container")
        h1 SHOW OFF YOUR CITY
        p We make amazing videos to make your city come alive, combining photography with motion. We get this refreshing and flattering look by stitching 1000's of professional grade photos together.
        p Imagine how your own city would look with this style.
        p What landmarks would you choose to show off this way?
        p Book a custom package to get advertising-quality video of your own city, with the same level of clarity and creativity you see here.
      script(src="scripts/landing.js")
